@media (prefers-color-scheme: light) {
  :root {
    --shadow-decor-color: rgba(255, 0, 112, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --main-text-color: #353430;
    --additional-text-color: #353430;
    --accent-text-color: #353430;
    --title-color: #FFC2E6;
    --header-bg-image: url(../images/cover-image-light.png);
    --hover-button-outline-color: rgb(50 49 45 / .4);
    --rec-decor: none;
    }
}

.page.theme_light {
  --shadow-decor-color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --main-text-color: #353430;
  --additional-text-color: #353430;
  --accent-text-color: #353430;
  --title-color: #FFC2E6;
  --header-bg-image: url(../images/cover-image-light.png);
  --hover-button-outline-color: rgb(50 49 45 / .4);
  --rec-decor: none;
}
