:root {
  --padding-value: 20px;
  --accent-color: rgba(255, 0, 112, 1);
  --main-text-color: #F1B2CE;
  --additional-text-color: #000028;
  --accent-text-color: #FF0070;
  --title-color: #DB00FF;
  --header-bg-image: url(../images/cover-image-dark.png);
  --hover-button-outline-color: rgb(255 0 112 / .4);
  --rec-decor: block;
}

@media only screen and (width < 768px) {
  :root {
    --padding-value: 10px;
  }
}